@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

$body-bg: #eee;
$body-text: #333;
$small-text: #555;

$header-bg: #444;
$header-text: #ddd;
$header-product: #fff;
$header-hover: #fff;

$button-holder-bg: #ddd;
$button-bg: #333;
$button-text: #eee;
$button-disabled-bg: #ccc;
$button-disabled-text: #999;


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $body-bg;
  color: $body-text;
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

input, select {
  font-size: 1rem;
  padding: 0.3em 0.5em;
}

button {
  font-size: 1rem;
  padding: 0.3em;
}

h1 {
  font-size: 2rem;
  text-align: center;

  small {
    font-size: 1.9rem;
    color: $small-text;
  }
}

header {
  align-items: center;
  background: $header-bg;
  color: $header-text;
  display: flex;
  height: 4rem;  
  padding: 0 1em;

  #product {
    color: $header-product;
    flex: 1;
    font-size: 1.4rem;
  }

  .img-span {
    flex: 4;
  }

  .section {
    cursor: pointer;
    flex: 1;

    &:hover {
      color: $header-hover;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

.gif-list {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  img {
    width: 100%;
  }
}

.random {
  img {
    display: block;
    margin: 1em auto;
  }

  .gif-holder {
    min-height: 72vh;
  }

  .button-holder {
    background: $button-holder-bg;
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0 0 0;
    padding: 0.5em 1em;
  }

  button {
    background: $button-bg;
    color: $button-text;
    display: block;
    padding: 0.5em 0.8em;

    &:disabled {
      background: $button-disabled-bg;
      color: $button-disabled-text;
    }
  }

}
